---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  ci:
    name: Check
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target:
          - ruff
          - pyright

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: amedia-actions/setup-uv@main
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Run ${{ matrix.target }}
        run: make ${{ matrix.target }}
